#mission {
    color: #333;
}

#blog {
    color: red;
}

#tv {
    color: red;
}

#contact {
    color: #fff;
    background-image: url(../img/footer.jpg);
}

#contact h2.section-heading {
    padding-bottom: 1.5em;
}

.navbar-header {
    padding-bottom: 1.7em;
}

.navbar-right {
    padding-top: 1em;
}

.custom-btn {
    margin-bottom: 1em;
}

.award {
    border-radius: 100%;
    margin-top: 2em;
}

.award-title {
    text-transform: uppercase;
}

th {
    text-align: center;
}

.social-icons {
    margin-right: 1em;
    text-align: center;
}

.social-icon {
    margin: .1em;
}

h2#classes {
    margin-top: 2em;
}

#copyright {
    padding-top: 2em;
}

.video{
    width: 100%;
}

.contact {
    margin-bottom: .3em;
}

section#intro-video {
    padding: 0;
}

body section#portfolio .boxup-image {
    width: 100%
}

.ex3 .hide3 {
    width: 50%;
    display: table;
    height: 150px; /* any arbitrary height but best at the minimum initial height you would want. */
    overflow: hidden;
    background: red;
    transition: all 0.5s ease;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}
.inner3 {
    padding: 10px;
}
.ex3 input[type="checkbox"]:checked + .hide3 {
    height: 0;
    opacity: 0;
    display: block;
}


