#mission {
    color: #333;
}

#blog {
    color: red;
}

#tv {
    color: red;
}

#contact {
    color: #fff;
    background-image: url(../img/footer.jpg);
}

#contact h2.section-heading {
    padding-bottom: 1.5em;
}

.navbar-header {
    padding-bottom: 1.7em;
}

.navbar-right {
    padding-top: 1em;
}

.custom-btn {
    margin-bottom: 1em;
}

.award, .achievement {
    border-radius: 100%;
    margin-top: 2em;
}

.award-title {
    text-transform: uppercase;
}

th {
    text-align: center;
}

.social-icons {
    margin-right: 1em;
    text-align: center;
}

.social-icon {
    margin: .1em;
}

h2#classes {
    margin-top: 2em;
}

#copyright {
    padding-top: 2em;
}

.video{
    width: 100%;
}

.contact {
    margin-bottom: .3em;
}

section#intro-video {
    padding: 0;
}

body section#portfolio .boxup-image {
    width: 100%
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 1em;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.3em;
    transition: 0.4s;
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.activeTab, .accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.panel p{
    font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
    text-align: left;
}

p.boxup-modal-description {
    text-align: left;
}

table.table td {
    width: 33%;
}

p#class-charge {
    margin-top: 1em;
}