<!--

*** NOTICE ***
This file has been modified by James Chan as part of a coursework assignment set by Ada, the National College for Digital Skills

-->

<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top">
        {{ if or .Site.Params.navigation.links.about .Site.Params.navigation.links.mission .Site.Params.navigation.links.location .Site.Params.navigation.links.blog .Site.Params.navigation.links.contact }}
        {{ partial "nav.html" . }}
        {{ end }}

        {{ if .Site.Params.hero }}
        {{ partial "hero.html" . }}
        {{ end }}

        {{ if .Site.Params.about }}
        {{ partial "about.html" . }}
        {{ end }}

        {{ if .Site.Data.boxup }}
        {{ partial "boxup.html" . }}
        {{ end }}

        {{ if .Site.Params.locations }}
        {{ partial "location.html" . }}
        {{ end }}

        {{ if .Site.Params.achievements }}
        {{ partial "achievements.html" . }}
        {{ end }}

        {{ partial "video.html" .}}

        {{ if .Site.Params.contact }}
        {{ partial "contact.html" . }}
        {{ end }}

        {{ if .Site.Data.about }}
        {{ partial "aboutModals.html" . }}
        {{ end }}

        {{ if .Site.Data.boxup }}
        {{ partial "boxUpModals.html" . }}
        {{ end }}

        {{ if .Site.Data.locations }}
        {{ partial "locationModals.html" . }}
        {{ end }}

        {{ partial "js.html" . }}
    </body>
</html>
