{{ "<!-- About Modals -->" | safeHTML }}
{{ range .Site.Data.about }}
<div class="portfolio-modal modal fade" id="aboutModal{{ .modalID }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        {{ with .modalTitle }}
                            <h2>{{ . }}</h2>
                        {{ end }}
                        {{ if and .title .description }}
                            <hr class="star-primary">
                        {{ end }}
                        <img src="img/about/{{ .img }}" class="img-responsive img-centered" alt="{{ .imgAlt }}">
                        {{ with .description }}
                            <p>{{ . | markdownify }}</p>
                        {{ end }}
                        {{ with $.Site.Params.modals.buttonText }}
                            <button aria-labelledby="Close" type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>{{.}}</button>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}