<!--

*** NOTICE ***
This file has been modified by James Chan as part of a coursework assignment set by Ada, the National College for Digital Skills

-->

{{ "<!-- ABOUT -->" | safeHTML }}
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                {{ with .Site.Params.about.headline }}
                    <h2 class="section-heading">{{ . }}</h2>
                {{ end }}
                {{ if and .Site.Params.about.headline .Site.Params.about.description }}
                    <hr class="primary">
                {{ end }}
                {{ with .Site.Params.about.description }}
                    <p>{{ . | markdownify }}</p>
                {{ end }}
                <div class="container-fluid">
                        {{ range .Site.Data.about }}
                        <div class="col-lg-4 col-md-12">
                            <a href="#aboutModal{{ .modalID }}" class="btn btn-primary btn-xl custom-btn" data-toggle="modal">{{.title}}</a>
                        </div>
                        {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
