{{ "<!-- BOXUP MODALS -->" | safeHTML }}
{{ range .Site.Data.boxup }}
<div class="portfolio-modal modal fade" id="boxUpModal{{ .modalID }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        {{ with .title }}
                            <h2>{{ . }}</h2>
                            <hr class="star-primary">
                        {{ end }}
                            <img src="img/general/{{ .img }}" class="img-responsive img-centered" alt="">
                        {{ with .description }}
                            <p class="boxup-modal-description">{{ . | markdownify }}</p>
                        {{ end }}
                        {{ if and .sectionHeading1 .section1}}
                            {{ with .sectionHeading1 }}
                                <button class="accordion">{{ . }}</button>
                            {{ end }}
                            {{ with .section1 }}
                                <div class="panel">
                                    <p>{{ . | markdownify }}</p>
                                </div>
                            {{ end }}
                        {{ end}}
                        {{ if and .sectionHeading2 .section2}}
                            {{ with .sectionHeading2 }}
                                <button class="accordion">{{ . }}</button>
                            {{ end }}
                            {{ with .section2 }}
                                <div class="panel">
                                    <p>{{ . | markdownify }}</p>
                                </div>
                            {{ end }}
                        {{ end}}
                        {{ if and .sectionHeading3 .section3}}
                            {{ with .sectionHeading3 }}
                                <button class="accordion">{{ . }}</button>
                            {{ end }}
                            {{ with .section3 }}
                                <div class="panel">
                                    <p>{{ . | markdownify }}</p>
                                </div>
                            {{ end }}
                        {{ end}}
                        {{ if and .sectionHeading4 .section4 }}
                            {{ with .sectionHeading4 }}
                                <button class="accordion">{{ . }}</button>
                            {{ end }}
                            {{ with .section4 }}
                                <div class="panel">
                                    <p>{{ . | markdownify }}</p>
                                </div>
                            {{ end }}
                        {{ end}}
                        {{ if .ourPartnersHeading }}
                            {{ with .ourPartnersHeading }}
                                <h3 class="our-partners">{{ . | markdownify }}</h3>
                            {{ end }}
                            <div class="col-lg-12 col-md-12">
                            {{ if .partnerLogo1 }}
                                <div class="col-lg-6 col-md-6">
                                    <img src="img/partners/{{ .partnerLogo1 }}" class="img-responsive img-centered" alt="">
                                </div>
                            {{ end }}
                            {{ if .partnerLogo2 }}
                                <div class="col-lg-6 col-md-6">
                                    <img src="img/partners/{{ .partnerLogo2 }}" class="img-responsive img-centered" alt="">
                                </div>
                            {{ end}}
                            </div>
                        {{ end}}
                        {{ with $.Site.Params.modals.buttonText }}
                            <button aria-labelledby="Close" type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>{{.}}</button>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}