<!--

*** NOTICE ***
This file has been modified by James Chan as part of a coursework assignment set by Ada, the National College for Digital Skills

-->

{{ "<!-- CONTACT -->" | safeHTML }}
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-3 text-center">
                {{ with .Site.Params.contact.headline }}
                    <h2 class="section-heading">{{ . }}</h2>
                {{ end }}
                {{ if and .Site.Params.contact.headline .Site.Params.contact.description }}
                    <hr class="primary">
                {{ end }}
                {{ with .Site.Params.contact.description }}
                    <p>{{ . | markdownify }}</p>
                {{ end }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <img class="center-block" src="img/logo.png" alt="BoxUp Crime logo">
            </div>
            <div class="col-md-8">
            {{ if .Site.Params.contact.phone }}
                <div class="
                {{ if .Site.Params.contact.phone }}
                    col-lg-4
                {{ else }}
                    col-lg-8
                {{ end }}
                col-lg-offset-2 text-center">
                    <i class="contact fa fa-phone fa-3x wow bounceIn" title="Phone us"></i>
                    <p>{{ .Site.Params.contact.phone }}</p>
                </div>
            {{ end }}
            {{ if .Site.Params.contact.email }}
                <div class="
                {{ if .Site.Params.contact.email }}
                    col-lg-4
                {{ else }}
                    col-lg-8 col-lg-offset-2
                {{ end }}
                 text-center">
                    <i class="contact fa fa-envelope-o fa-3x wow bounceIn" title="Email us" data-wow-delay=".1s"></i>
                    <p>{{ .Site.Params.contact.email }}</p>
                </div>
            {{ end }}
            {{ if .Site.Params.contact.address }}
            <div class="{{ if .Site.Params.contact.address }}
                    col-lg-4
                {{ else }}
                    col-lg-8
                {{ end }}
                col-lg-offset-2 text-center">
                <i class="contact fa fa-building-o fa-3x wow bounceIn" title="Address" data-wow-delay=".1s"></i>
                <p>{{ .Site.Params.contact.address }}</p>
            </div>
            {{ end }}
            {{ if .Site.Params.contact.openingTimes1 }}
            <div class="
                {{ if .Site.Params.contact.openingTimes1 }}
                    col-lg-4
                {{ else }}
                    col-lg-8 col-lg-offset-2
                {{ end }}
                 text-center">
                <i class="contact fa fa-clock-o fa-3x wow bounceIn" title="Opening times" data-wow-delay=".1s"></i>
                <p>{{ .Site.Params.contact.openingTimes1 }}</p>
                <p>{{ .Site.Params.contact.openingTimes2 }}</p>
                <p>{{ .Site.Params.contact.openingTimes3 }}</p>
                <p>{{ .Site.Params.contact.openingTimes4 }}</p>
                <p>{{ .Site.Params.contact.openingTimes5 }}</p>
            </div>
            {{ end }}
            </div>
        </div>
        <div class="row">
            <div class="social-icons col-lg-3">
                <a target="_blank" href="https://twitter.com/boxupcrime?lang=en"><i class="social-icon fa fa-twitter-square fa-3x wow bounceIn" title="Twitter icon" data-wow-delay=".1s"></i></a>
                <a target="_blank" href="https://www.facebook.com/OfficialBoxUp/videos/813655222114512/"><i class="social-icon fa fa-facebook-square fa-3x wow bounceIn" title="Facebook icon" data-wow-delay=".1s"></i></a>
                <a target="_blank" href="https://www.instagram.com/boxupcrime/"><i class="social-icon fa fa-instagram fa-3x wow bounceIn" title="Instagram icon" data-wow-delay=".1s"></i></a>
                <a target="_blank" href="https://www.youtube.com/channel/UC08DwZ1Ft4mBkH_RI7uHPBg/"><i class="social-icon fa fa-youtube fa-3x wow bounceIn" title="Youtube icon" data-wow-delay=".1s"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-offset-4 col-lg-4 col-md-offset-4 col-md-6">
                <p id="copyright">BoxUpCrime © 2018 All Rights Reserved.</p>
            </div>
        </div>
    </div>
</section>
