{{ "<!-- Location Modals -->" | safeHTML }}
{{ range .Site.Data.locations }}
<div class="portfolio-modal modal fade" id="locationModal{{ .modalID }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        {{ with .title }}
                        <h2>{{ . }}</h2>
                        {{ end }}
                        {{ if and .title .description }}
                        <hr class="star-primary">
                        {{ end }}
                        <img src="img/{{ .img }}" class="img-responsive img-centered" alt="">
                        {{ with .description }}
                        <p>{{ . | markdownify }}</p>
                        {{ end }}
                        {{ with .subtitle }}
                        <h2 id="classes">{{ . }}</h2>
                        <hr class="star-primary">
                        {{ end }}
                        {{ if and .class1 .class1Location .class1Age }}
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">{{ .class1 }}</th>
                                <th scope="col">{{ .class2 }}</th>
                                <th scope="col">{{ .class3 }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ .class1Location }}</td>
                                <td>{{ .class2Location }}</td>
                                <td>{{ .class3Location }}</td>
                            </tr>
                            <tr>
                                <td>{{ .class1Age }}</td>
                                <td>{{ .class2Age }}</td>
                                <td>{{ .class3Age }}</td>
                            </tr>
                            </tbody>
                        </table>
                        {{ end }}
                        {{ with $.Site.Params.modals.buttonText }}
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>{{.}}</button>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}