{{ "<!-- LOCATIONS -->" | safeHTML }}
<section class="bg-primary" id="location">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                {{ with .Site.Params.locations.headline }}
                    <h2 class="section-heading">{{ . }}</h2>
                {{ end }}
                {{ if and .Site.Params.locations.headline .Site.Params.locations.description }}
                    <hr class="light">
                {{ end }}
                {{ with .Site.Params.locations.description }}
                    <p class="text-faded">{{ . | markdownify }}</p>
                {{ end }}
                {{ range .Site.Data.locations }}
                <div class="col-lg-4 col-md-12">    
                    <a aria-label="Hyperlinks for location modals" href="#locationModal{{ .modalID }}" class="btn btn-default btn-xl custom-btn" data-toggle="modal">{{.title}}</a>
                </div>
                {{ end }}
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                {{ with .Site.Params.locations.charge }}
                    <p id="class-charge" class="text-faded">{{ . }}</p>
                {{ end }}
            </div>
        </div>
    </div>
</section>

